.bg-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
  }
  
  .bg-warning {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
  }
  
  .bg-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }
  
  .bg-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }
  
  .bg-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }
  