<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a >Carpeta </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Lista de carpetas</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">

        <div class="card card-table show-entire">
          <div class="card-body">

            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Lista de Carpetas</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Autos, Carpeta o Abogado" [(ngModel)]="searchDataValue"
                          (keyup.enter)="searchData()">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group">
                        <a routerLink="/carpeta/register" class="btn btn-primary add-pluss ms-2"><img
                            src="assets/img/icons/plus.svg" alt=""></a>
                        <a href="javascript:;" (click)="PageSize()" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a>
                      </div>
                    </div>
                    <h3>  Filtros: </h3>
                    <div class="doctor-search-blk mt-2">
                      <select class="form-control" [(ngModel)]="filters.estado" (change)="searchData()">
                        <option value="">Seleccione Estado</option>
                        <option *ngFor="let estado of estados" [value]="estado.value">{{estado.label}}</option>
                      </select>
                      <select class="form-control ms-2" [(ngModel)]="filters.tag_id" (change)="searchData()">
                        <option value="">Seleccione Tag</option>
                        <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
                      </select>
                    </div>

                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a>
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                  <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>

                </div>
              </div>
            </div>
            <!-- /Table Header -->

            <div class="table-responsive">
              <table matSort (matSortChange)="sortData($event)"
                class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="autos">Autos</th>
                    <th mat-sort-header="nro_carpeta">Numero de Carpeta</th>
                    <th mat-sort-header="created_at">Fecha Inicio</th>
                    <th mat-sort-header="abogado_id">Abogado Asignado</th>
                    <th mat-sort-header="ultimo_movimiento">Ultimo movimiento</th>
                    <th mat-sort-header="estado">Estado del trámite</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of carpetasList" >
                    <td>
                      <a [routerLink]="[ '/carpeta/list/edit/', data.id ]">{{data.autos}}</a>
                    </td>
                    <td>{{data.nro_carpeta}}</td>
                    <td>{{data.fecha_inicio}}</td>
                    <td>{{getAbogadoNombre(data.abogado_id) }}</td>

                    
                    <td *ngIf="data.ultimo_movimiento; else templateElse">{{data.ultimo_movimiento}}</td>
                    <ng-template #templateElse>
                    <td>sin movimientos</td>
                    </ng-template>
                   
                    <td>
                      <button [ngClass]="{'status-green' : data.estado === 1, 'status-pink' : data.estado === 2}"
                        class="custom-badge">
                        {{data.estado == 1 ? 'En trámite' : 'Finalizado' }}
                      </button>
                    </td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action" *ngIf="data.id != 0">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <!--  -->
                          <a class="dropdown-item" [routerLink]="[ '/carpeta/list/edit/', data.id ]">
                            <i class="fa fa-arrow-right m-r-5"></i>  Movimientos</a>

                          <!-- <a class="dropdown-item" [routerLink]="[ '/carpeta/list/profile/', data.id ]">+ Perfil
                            cliente</a> -->

                          <a class="dropdown-item" href="javascript:void(0);" (click)="selectUser(data)"
                            data-bs-toggle="modal" [attr.data-bs-target]="'#delete_staff-'+data.id">
                            <i class="fa fa-table-list m-r-5"></i> Borrar</a>

                        </div>
                      </div>
                    </td>

                    <div [attr.id]="'delete_staff-'+data.id" class="modal fade delete-modal" role="dialog">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <img src="assets/img/sent.png" alt="" width="50" height="46">
                            <h3 *ngIf="carpeta_selected">Are you sure want to delete this patinet {{
                              carpeta_selected.name }}?</h3>
                            <div class="m-t-20"> <a href="javascript:void(0);" #closebutton class="btn btn-white me-1"
                                data-bs-dismiss="modal">Close</a>
                              <button type="submit" class="btn btn-danger" (click)="deletePatient()">Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </tr>
                </tbody>
              </table>
              <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">
                    Showing {{ serialNumberArray[0] }} to
                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                    {{ totalData }} entries
                  </div>
                </div>

                <div class="col-sm-12 col-md-7">
                  <div class="pagination_section">
                    <ul class="pagination">
                      <li class="page-item" [ngClass]="{
                                          disabled: currentPage === 1
                                        }">
                        <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                          tabindex="-1">Previous</a>
                      </li>

                      <ng-container *ngFor="let item of pageNumberArray; let i = index">
                        <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                            (pageNumberArray[currentPage - 2] > item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6) ||
                                            (pageNumberArray[currentPage] < item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6 &&
                                              pageNumberArray.length !== item)
                                              ? 'hide-page-no'
                                              : 'show-page-no'
                                          ">
                          <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                            {{ item }}
                          </a>
                        </li>
                        <li class="page-item" *ngIf="i === 0 && pageNumberArray.length > 6 && currentPage > 2
                                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                          <a class="page-link" href="javascript:void(0);">
                            ...
                          </a>
                        </li>
                        <li *ngIf="
                                            i === pageNumberArray.length - 2 &&
                                            pageNumberArray.length > 6
                                          " [hidden]="
                                            currentPage >=
                                              pageNumberArray[pageNumberArray.length - 2] ||
                                            totalData <
                                              serialNumberArray[serialNumberArray.length - 1]
                                          " class="page-item" (click)="moveToPage(currentPage + 2)">
                          <a class="page-link" href="javascript:void(0);">
                            ...
                          </a>
                        </li>
                      </ng-container>

                      <li class="page-item" [ngClass]="{
                                          disabled:
                                            currentPage ===
                                              pageNumberArray[pageNumberArray.length - 1] ||
                                              carpetasList.length === 0
                                        }">
                        <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>